# tinker
function tinker () {
  if [ -z "$1" ]; then
    php artisan tinker
  else
    php artisan tinker --execute="dd($1);"
  fi
}

# redate last commit
function redate () {
  GIT_COMMITTER_DATE="$1" git commit --amend --no-edit --date $1
}

# Zip all `.env` files inside given directory
function envzip () {
  find $1 -type f -iname ".env" | zip archive -@
  mv archive.zip ${2:-.env.zip}
}
