# generate qr and push to clipboard
function qr2clip { qrencode $1 -o - | xclip -selection clipboard -t image/png; }

# tinker
function tinker () {
  if [ -z "$1" ]; then
    php artisan tinker
  else
    php artisan tinker --execute="dd($1);"
  fi
}

# redate last commit
function redate () {
  GIT_COMMITTER_DATE="$1" git commit --amend --no-edit --date $1
}

# zip all dotenv files inside given directory
function envzip () {
  find ${1:-.} -type f -iname ".env" | zip archive -@
  mv archive.zip ${2:-dotenvs.zip}
}

# output fortune every 10 seconds
function fortunes () {
  echo "----------------------------------FORTUNE---------------------------------------";
  fortune -w;

  while sleep 0;
    echo "----------------------------------FORTUNE---------------------------------------";
    do fortune -w;
  done
}

# generate <img /> from image file
function b64img () {
  # grab the image format
  fmt=$(file "$1" | grep -iEo 'apng|bmp|gif|jpeg|png|webp' | head -n1 | tr '[:upper:]' '[:lower:]')

  # check if the image format is supported
  [ -z "$fmt" ] && exit 1

  # create an img element
  img="<img src='data:image/"$fmt";base64,$(base64 -w 0 "$1")' />"

  echo "$img"
}

# print bash colormap
function colormap () {
  for i in {0..255}; do print -Pn "%K{$i}  %k%F{$i}${(l:3::0:)i}%f " ${${(M)$((i%6)):#3}:+$'\n'}; done
}
