[core]
    excludesFile = ~/.gitignore_global

[pull]
    rebase = true

[alias]
    a = add
	aa = add --all
    apa = add --patch
    au = add --update
    av = add --verbose
    ap = apply
    apt = apply --3way
    b = branch
    ba = branch -a
    bd = branch -d
    bD = branch -D
    bl = blame -b -w
    bnm = branch --no-merged
    br = branch --remote
    bs = bisect
    bsb = bisect bad
    bsg = bisect good
    bsr = bisect reset
    bss = bisect start
